<div class="grid-wrapper">
    <div class="box a">A<br>hover</div>
    <div class="box b">B<br>hover</div>
    <div class="box c">C<br>hover</div>
    <div class="box d">D</div>
    <div class="box e">E</div>
    <div class="box f">F</div>
    <div class="box g">G</div>
    <div class="box h">H<br>hover</div>
    <div class="box i">I<br>hover</div>
  </div>

  <br>

  <div class="grid-wrapper">
    <div class="box a">A<br>hover</div>
    <div class="box b">B<br>hover</div>
    <div class="box c">C<br>hover</div>
    <div class="box d">D</div>
    <div class="box e">E</div>
    <div class="box f">F</div>
    <div class="box g">G</div>
    <div class="box h">H<br>hover</div>
    <div class="box i">I<br>hover</div>
  </div>