<div class="grid-wrapper">
  <div class="box a" style="background-image: url('https://unsplash.com/photos/SyBYM8R6VU4')"><br></div>
  <div class="box b"><br></div>
  <div class="box c"><br></div>
  <div class="box d"></div>
  <div class="box e"></div>
  <div class="box f"></div>
  <div class="box g"></div>
  <div class="box h"><br></div>
  <div class="box i"><br></div>
</div>


<div class="grid-wrapper">
  <div class="box a"><br></div>
  <div class="box b"><br></div>
  <div class="box c"><br></div>
  <div class="box d"></div>
  <div class="box e"></div>
  <div class="box f"></div>
  <div class="box g"></div>
  <div class="box h"><br></div>
  <div class="box i"><br></div>
</div>
