<div class="grid-wrapper">
  <div class="box a" style="background-image: url('https://source.unsplash.com/user/pjrvs')"><br></div>
  <div class="box b" style="background-image: url('https://source.unsplash.com/user/erondu')"><br></div>
  <div class="box c" style="background-image: url('https://source.unsplash.com/user/alejandroescamilla')"><br></div>
  <div class="box d" style="background-image: url('https://source.unsplash.com/user/aleksdorohovich')"></div>
  <div class="box e" style="background-image: url('https://source.unsplash.com/user/madebyvadim')"></div>
  <div class="box f" style="background-image: url('https://source.unsplash.com/user/yonikaplannadel')"></div>
  <div class="box g" style="background-image: url('https://source.unsplash.com/user/jerryadney')"></div>
  <div class="box h" style="background-image: url('https://source.unsplash.com/user/gowild')"><br></div>
  <div class="box i" style="background-image: url('https://source.unsplash.com/user/shyamantabaruah')"><br></div>
</div>


<div class="grid-wrapper">
  <div class="box a" style="background-image: url('https://source.unsplash.com/user/howsoonngu')"><br></div>
  <div class="box b" style="background-image: url('https://source.unsplash.com/user/rodrigomelo')"><br></div>
  <div class="box c" style="background-image: url('https://source.unsplash.com/user/shanecolella')"><br></div>
  <div class="box d" style="background-image: url('https://source.unsplash.com/user/jeffreykam')"></div>
  <div class="box e" style="background-image: url('https://source.unsplash.com/user/allysonh')"></div>
  <div class="box f" style="background-image: url('https://source.unsplash.com/user/lukechesser')"></div>
  <div class="box g" style="background-image: url('https://source.unsplash.com/user/ryanmcguire')"></div>
  <div class="box h" style="background-image: url('https://source.unsplash.com/user/nithyaramanujam')"><br></div>
  <div class="box i" style="background-image: url('https://source.unsplash.com/user/olegchursin')"><br></div>
</div>
